body {

    background-color:#9379a4;
    color: white;
    font-size: 21px;
}


p{
color: rgb(179, 181, 179);

}

h1{
    font-size: 20px;
    color: pink;}

span{
    color: rgb(6, 165, 25);
    font-size: 25;
    font-weight: bold;
}

.top-section {
background: red;
font-size: 25px;
}
.bottom-section {
background: black;

}
.intro{
font-size: 20px;
}
.middle{
    font-size: 15px;
    color: rgb(103, 33, 169);
}
.highlight{
    color: aqua;
    font-size: 25px;
}
.middle-section{
    background: rgb(158, 169, 149);
    font-size: 30px;
    color: rgb(139, 52, 52);
}



body{
    background: rgb(133, 108, 108); 
    background-color: rgb(66, 163, 248);
}




h1{
font-size: 70PX;
color: blueviolet;
}
/*the CSS box model*/

.Box{
background-image: url(https://cdn.freecodecamp.org/curriculum/cat-photo-app/relaxing-cat.jpg) ;
width: 300px;
margin: 50px;

padding: 20px 10px;
background-size: cover;
/* top right bottom left*/
/*clockwise*/
}
/*the CSS box model*/
/*
margin:
border:
padding:
*/

body{

    margin-bottom: 20px;
    
    }
        
     h1{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
margin-bottom: 0px;

        }
        h2{
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin-top: 0px;
        }

a{
    color: yellow;
}

a:hover {
    color: blueviolet;
}
a:visited {
    color: pink;
}
a:active {
    color: blue;
}
a:focus {
    color: red;
}

p, h1 {
    color: green;
}



.body-text{
    background-color: black;
    padding: 50px;
}
.body-text p {
color: white;
}
.body-text a {
    color: purple;
}
.body-text a:hover {
    color: yellow;
}
.important-link{
    color: blue !important;
}